<!doctype html>
<html>
<head>
    <title>Hello</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css"></style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text navbar-center"> [Redacted!] </p>
    <div class="container">

    </div>
  </nav>
    <img src="http://i.imgur.com/EtnG4wT.png">
    <br>

    <a href="/login/twitter/return" class="btn btn-info"><img src="http://i.imgur.com/GKwuyOC.png"></a>


    </div>

</div>
    <script type="text/javascript" src="/js/tweets.js"></script>
</body>
</html>
