<!doctype html>
<html>
<head>
    <title>Hello</title>

</head>
<body>
    <h1>Welcome</h1>

    <p>Login or Register with:</p>

    <a href="/auth/twitter" class="btn btn-info">Twitter</a>

    </div>

</div>
</body>
</html>
