<!doctype html>
<html>
<head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css"></style>
</head>
<body>
    <h1>Welcome</h1>

    <p>Login or Register with:</p>

    <a href="/login/twitter/return" class="btn btn-info">Twitter</a>

    </div>

</div>
</body>
</html>
