<!doctype html>
<html>
<head>
<title>Profile</title>

<link rel='stylesheet' href='/stylesheets/style.css'>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<style>
body {
  background-image: url("http://i.imgur.com/INhTOWk.jpg");
}
</style>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <p class="navbar-text navbar-center"> [Redacted!] </p>
        <p class="navbar-text navbar-right">Signed in as <span id="twitterHandle">@<%= user.username %></span> </p>
      </div>
    </nav>

<div class="jumbotron">
            <h1>
              Welcome, <span id="twitterHandle">@<%= user.username %></span></h1>

            <div>
            <span id="button" class="show"></span>
            </h1>
            </div>
            <ul id="tweetsContainer" class="count"></ul>
</div>



            <button id="button2">See how many times you swear!</button>
            <div id="tweetCounter"></div>
            <a href="/profile/results">Learn more!</a>



            </div>

        <br>
        <br>
        <a href="/logout">Logout</a>


<script type="text/javascript" src="/js/tweets.js"></script>
</body>
</html>
