<!doctype html>
<html>
<head>
<title>Profile</title>
</head>
<body>
        <h1>Profile Page</h1>
        <a href="/logout">Logout</a>


            <h3>Twitter</h3>

            <p>
                <%= user.username %>

            </a>
            </p>

<script type="text/javascript" src="passport.js"></script>
<script type="text/javascript" src="user.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="db.js"></script>


</div>
</body>
</html>
