<!doctype html>
<html>
<head>
<title>Profile</title>
</head>
<body>
        <h1>Profile Page</h1>
        <a href="/logout">Logout</a>


            <h3>Twitter</h3>

            <p>
                <%= user.twitter.id %>
                <%= user.twitter.token %>
                <%= user.twitter.username %>
                <%= user.twitter.displayName %>
            </p>


</div>
</body>
</html>
