<!doctype html>
<html>
<head>
<title>Profile</title>

<link rel='stylesheet' href='/stylesheets/style.css'>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
        <h1>Profile Page</h1>
        <a href="/logout">Logout</a>

            <h3>Twitter</h3>

            <p>
              <span id="twitterHandle"><%= user.username %></span>

            <div>
            <span id="button" class="show">Go!</span>
            </p>
            </div>
            <ul id="tweetsContainer" class="count"></ul>



            <button id="button2">Count!</button>
            <div id="tweetCounter"></div>
            <a href="/profile/results">Learn more!</a>

            </div>


<script type="text/javascript" src="/js/tweets.js"></script>
</body>
</html>
