<!doctype html>
<html>
<head>
<title>Profile Results</title>

<script type="text/javascript" src="../app.js"></script>
<script type="text/javascript" src="../config/passport.js"></script>
<script type="text/javascript" src="../models/user.js"></script>
<script type="text/javascript" src="../db.js"></script>
<script type="text/javascript" src="../controllers/UserController.js"></script>
<script type="text/javascript" src="../twitter/js"></script>

</head>
<body>
        <h1>Results</h1>
        <a href="/logout">Logout</a>


            <h3>Twitter</h3>

            <p>
                <%= user.username %> is problematic
            </p>



</div>
</body>
</html>
